/* import fichier css */
@import url("base.css");
@import url("header.css");
@import url("components.css");

/********************** search **********************/
.search {
  position: relative;
  padding-bottom: 20px;
}
.search input {
  width: 100%;
  height: 69px;
  border-radius: 6px;
  background-color: #e7e7e7;
  padding-top: 7px;
  padding-left: 22px;
  border: none;
}
.search input::placeholder {
  color: #c7bebe;
  font-size: 1.35em;
}
.search img {
  position: absolute;
  top: 18px;
  right: 15px;
}

/********************** filtres selectionnés **********************/
.sectionSelection {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
}

/********************** filtres **********************/
.sectionFiltres {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; 
}
.filterIngredient,
.tagIngredient {
  background-color: #3282f7;
}
.filterAppareil,
.tagAppareil {
  background-color: #68d9a4;
}
.filterUstensile,
.tagUstensile {
  background-color: #ed6454;
}

/********************** boutons filtres **********************/
.disappear {
  display: none;
}
.disappear.appear {
  display: block;
}
.unsetFilter {
  width: unset;
  height: unset
}
.filter {
  display: flex;
  align-items: center;
  position: relative;
}
.filter span {
  text-align: center;
}
.filter img {
  position: absolute;
  right: 10px;
  top: 30px;
}
.rotate {
  transform: rotate(180deg);
}
.filter input {
  width: 90%;
  height: 70px;
  background-color: #ed6454;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border: none;
  outline: none;
}
.filter input::placeholder {
  color: #E7E7E7;
}
/* retire'x'du champ input from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.filter ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 400px;
  padding: 0px;
  margin: 0px;
}
.filter ul li {
  width: 30%;
}

/********************** articles recettes **********************/
.sectionRecettes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
article {
  height: 365px;
  width: 30.5%;
  margin-bottom: 50px;
}
.imgRecette {
  height: 178px;
  background-color: #c7bebe;
  border-radius: 6px 6px 0 0;
}
.legende {
  height: 145px;
  background-color: #e7e7e7;
  border-radius: 0 0 6px 6px;
  padding: 19px 22px 22px 22px;
}
.titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.titre span {
  font-weight: bold;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.titre span img {
  padding-right: 7px;
}
.titre h2 {
  font-size: 1.1em;
  font-weight: normal;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.description {
  display: flex;
  justify-content: space-between;
}
.description ul {
  width: 46%;
  padding: 0 4% 0 0;
  margin: 0;
  font-size: 0.78em;
}
.description ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.description ul li span {
  font-weight: bold;
}
.description p {
  height: 106px;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Roboto", sans-serif;
  font-size: 0.78em;
  margin: 0;
  /* line clamp: ellipsis sur multilignes (6 et 91)*/
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

/********************** articles recettes **********************/

@media screen and (max-width: 1300px) {
  .wrapper {
    padding: 30px 30px 0px 30px;
  }
}
@media screen and (max-width: 1200px) {
  article {
    width: 48%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 790px) {
  article {
    width: 100%;
  }
}
